In [1]:
import csv

In [2]:
header=['sid','sname','city','contact']

In [3]:
records=[[1,'ujefa','songadh',9316203288],
         [2,'sunil','asta',9463745678],
         [3,'prem','vyara',9867456374],
         [4,'dev','vyara',9567456784],
         [5,'om','surat',9126364758]]
k=[]

In [5]:
for i in range(5):
    sid=int(input("Enter student id:"))
    sname=(input("Enter student name:"))
    city=(input("Enter student city:"))
    contact=int(input("Enter student contact number:"))
    r=[sid,sname,city,contact]
    k.append(r)

Enter student id:6
Enter student name:henil
Enter student city:madhi
Enter student contact number:9087657460
Enter student id:7
Enter student name:tarun
Enter student city:surat
Enter student contact number:9868475685
Enter student id:8
Enter student name:vivek
Enter student city:bardoli
Enter student contact number:9064783578
Enter student id:9
Enter student name:shagun
Enter student city:surat
Enter student contact number:9053795468
Enter student id:10
Enter student name:parth
Enter student city:bardoli
Enter student contact number:9653786458

In [6]:
with open('student.csv','w',newline='') as f:
    myfile=csv.writer(f)
    myfile.writerow(header)
    myfile.writerows(records)
    myfile.writerows(k)

In [7]:
with open('student.csv','r') as r:
    allrecord=csv.reader(r)
    for s in allrecord:
        print(s)

['sid', 'sname', 'city', 'contact']
['1', 'ujefa', 'songadh', '9316203288']
['2', 'sunil', 'asta', '9463745678']
['3', 'prem', 'vyara', '9867456374']
['4', 'dev', 'vyara', '9567456784']
['5', 'om', 'surat', '9126364758']
['6', 'hamja', 'bardoli', '7']
['6', 'henil', 'madhi', '9087657460']
['7', 'tarun', 'surat', '9868475685']
['8', 'vivek', 'bardoli', '9064783578']
['9', 'shagun', 'surat', '9053795468']
['10', 'parth', 'bardoli', '9653786458']