In [1]:
import sqlite3 as sq
import datetime

In [2]:
con = sq.connect("contactmanagementsystem216.db")

In [3]:
cur = con.cursor()

->create a contact table

In [4]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

->table for insert,update, delete log

In [5]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

->trigger for insert log

In [6]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

->trigger for delete log

In [7]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

->trigger for delete log

In [8]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [9]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [10]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [11]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [12]:
cur.execute("""insert into contact values
                (1,'kailash','shahu',9316203288,'kailashshahu009@gmail.com','valod'),
                (2,'sunil','sakaliya',9034567898,'sunil@gmail.com','asta'),
                (3,'dev','rathod',8970564789,'dev@gmail.com','vyara'),
                (4,'ayaz','shaikh',8976620101,'ayaz@gmail.com','bardoli'),
                (5,'sai','patel',9987120302,'sai@gmail.com','madhi');""")

In [13]:
updaterecord(2)

Enter new Contact Number:9326367372

In [14]:
deleterecord(3)

In [15]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:kailash
Lname:shahu
Contact:9316203288
Email:kailashshahu009@gmail.com
city:valod

ID:2
Fname:sunil
Lname:sakaliya
Contact:9326367372
Email:sunil@gmail.com
city:asta

ID:4
Fname:ayaz
Lname:shaikh
Contact:8976620101
Email:ayaz@gmail.com
city:bardoli

ID:5
Fname:sai
Lname:patel
Contact:9987120302
Email:sai@gmail.com
city:madhi

In [17]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('kailash', 'shahu', 9316203288, 'NULL', '2023-08-10 07:50:20', 'insert'), ('sunil', 'sakaliya', 9034567898, 'NULL', '2023-08-10 07:50:20', 'insert'), ('dev', 'rathod', 8970564789, 'NULL', '2023-08-10 07:50:20', 'insert'), ('ayaz', 'shaikh', 8976620101, 'NULL', '2023-08-10 07:50:20', 'insert'), ('sai', 'patel', 9987120302, 'NULL', '2023-08-10 07:50:20', 'insert'), ('sunil', 'sakaliya', 8976567890, 9034567898, '2023-08-10 07:50:45', 'update'), ('dev', 'rathod', 'NULL', 8970564789, '2023-08-10 07:50:48', 'delete')]

Fname:kailash
Lname:shahu
New-contact:9316203288
Old-Contact:NULL
Datetime:2023-08-10 07:50:20
Operation:insert

Fname:sunil
Lname:sakaliya
New-contact:9034567898
Old-Contact:NULL
Datetime:2023-08-10 07:50:20
Operation:insert

Fname:dev
Lname:rathod
New-contact:8970564789
Old-Contact:NULL
Datetime:2023-08-10 07:50:20
Operation:insert

Fname:ayaz
Lname:shaikh
New-contact:8976620101
Old-Contact:NULL
Datetime:2023-08-10 07:50:20
Operation:insert

Fname:sai
Lname:patel
New-contact:9987120302
Old-Contact:NULL
Datetime:2023-08-10 07:50:20
Operation:insert

Fname:sunil
Lname:sakaliya
New-contact:8976567890
Old-Contact:9034567898
Datetime:2023-08-10 07:50:45
Operation:update

Fname:dev
Lname:rathod
New-contact:NULL
Old-Contact:8970564789
Datetime:2023-08-10 07:50:48
Operation:delete